* {
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-header {
  flex-basis: 100%;
  text-align: center;
  font-weight: bold;
}

.images {
  flex-basis: 25%;
}

.screen {
  width: 100%;
}

.app-feature {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 20%;
}
