.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  right: 100px;
}

#charmander {
  right: 100px;
  top: 50px;
}

#squirtle {
  right: 100px;
  top: 120px;
}

#pikachu {
  right: 100px;
  top: 190px;
}

#jigglypuff {
  right: 100px;
  top: 260px;
}
