* {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.row {
  display: flex;
  justify-content: center;
}

.header {
  flex-basis: 100%;
  text-align: center;
}

.header > h1 {
  font-weight: 800;
}

.image {
  flex-basis: calc(100% / 5);
  margin: 1%;
}

.info {
  flex-basis: calc(100% / 5);
  font-size: 10px;
}

.item-size-row {
  display: flex;
  margin: 10px;
}

.price-row {
  display: flex;
  margin: 10px;
}

.item {
  font-weight: bold;
}

.size {
  color: lightgray;
}

.price {
  background-color: rgb(237, 225, 215);
}

.retail {
  color: lightgray;
  text-decoration: line-through;
}

span {
  margin-right: 3px;
}

img {
  width: 100%;
  height: 100%;
}
