* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 1200px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dots:hover {
  cursor: pointer;
}

.arrows {
  margin: 7rem;
}

.arrows:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.image {
  flex-basis: calc(100% / 3);
}

img {
  width: 100%;
}
