* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-third {
  flex-basis: calc(100% / 3);
}

img {
  max-height: 20rem;
}
