* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-third {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
}

.circles {
  margin: 0.5rem;
}

.circles:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}
