.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.title {
  border: solid black;
  border-width: 2px;
  background-color: lightgray;
  margin: 1px;
  width: 20rem;
  text-align: left;
  padding: 0.3rem;
}

.topics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  border: solid black;
  width: 20rem;
  padding: 0.3rem;
  text-align: left;
  font-size: 0.8rem;
}
